* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: auto 0px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

header h1 {
  color: rgb(90, 90, 81);
  font-family: "McLaren", cursive;
  font-weight: 200;
  padding-left: 2%;
}


footer {
  margin-top: auto;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.MuiGrid-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 4%;
  margin-right: 4%;
  padding: 0 1%;
}


.note {
  background: #fff;
  border: 1px solid rgba(167, 167, 167, 0.329);
  border-radius: 7px;
  padding: 10px;
  width: 240px;
  margin: 16px;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  outline: none;
}

.note-form {
  position: relative;
  width: 480px;
  margin: 30px auto 30px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgba(138, 137, 137, 0.479);
}
.note-form-title,
.note-form-body {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.note-form-submission {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  width: 334px;
  margin: 20px auto;
}

.register-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 334px;
  margin: 20px auto;
}

